<section class="upload-form">
  <app-upload-form (loadFile)="loadFile($event)"/>
</section>
<section class="charts base-wrapper">
  @if (appStore.isLoading()) {
    <div class="spinner-overlay">
      <p-progress-spinner ariaLabel="loading" [style]="{ width: '50px', height: '50px' }"/>
    </div>
  }

  @if (appStore.files().length) {
    <app-filters [filters]="appStore.filters()"
                 (setFilter)="setFilter($event)"/>
    <div class="charts-wrapper">
      <app-bar-chart [data]="appStore.filteredFiles()"/>
      <app-pie-chart [data]="appStore.filteredFiles()"/>
    </div>
  } @else {
    <span>Upload or select file from history to see data.</span>
  }
</section>
<section class="history base-wrapper">
  @if (appStore.files().length) {
    <app-history [data]="appStore.files()"
                 (selectFile)="selectFile($event)"/>
  } @else {
    <span>Upload file to see history.</span>
  }
</section>
